body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.images {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

img {
    width: 120px;
}

/* Result Properties */
#result {
    display: inline-block;
}

/* Play Button Properties */
#play {
    display: inline-block;
    background-color: lightgreen;
    font-size: 104px;
    margin-bottom: 20px;
}

#play:hover {
    background-color: rgba(144, 238, 144, 0.75);
}


/* Game buttons and score properties */
.rpsButtons button,
.score p {
    display: none;
}

.rpsButtons button {
    font-size: 16px;
    background-color: transparent;
    width: 80px;
    height: 40px;
    margin: 10px 0;
}

.rpsButtons button:hover {
    background-color: #ccc;
}