#rpsBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: rgb(45, 45, 45);
    font-family: monospace;
}

h1 {
    color: white;
    font-size: 40px;
    margin-bottom: 8px;
}

#stage-container {
    width: 500px;
    height: 500px;
    background-image: url("/images/stage.png");
    background-size: contain;
    border: 5px black solid;
    position: relative;
}

#courtain {
    width: 100px;
}

#playerImage,
#cpuImage {
    width: 150px;
    height: 150px;
    position: absolute;    
    top: 310px;
}

#playerImage {
    left: 70px;
}

#cpuImage {
    right: 70px;
}

/* Instruction Properties */
#instructions {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
}

/* Play Button Properties */
#play {
    display: inline-block;
    background-color: lightgreen;
    font-size: 104px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

/* Result Properties */
#result {
    display: inline-block;
    color: white;
}

#play:hover {
    background-color: rgba(144, 238, 144, 0.75);
}


/* Game buttons and score properties */
.rpsButtons button,
.score p {
    display: none;
    color: white;
}

.rpsButtons button {
    font-size: 16px;
    background-color: grey;
    width: 100px;
    height: 60px;
    margin: 15px 10px;
    border-radius: 10px;
}

.rpsButtons button:hover {
    background-color: #ccc;
}

/* Miscellaneous */
.hover-image {
    max-width: 100%;
    max-height: 100%;
}